/* All rules for Space Tourism */
/* last rule wins // most specific rule wins */

/* NORMALIZING RULES */
* {
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  margin: 0;
}

img {
  max-width: 100%;
}

/* END NORMALIZING RULES */

body {
  background: var(--Blue---Med, #2a315f);
  color: white;
  font-family: "Open Sans", sans-serif;
}

header {
  background: #585c7c;
}

.pg-padding {
  padding: 30px 50px;
}

/* HOT TIP FOR BACKGROUND IMAGES, USE ../ at start of the path */
.feature {
  background-image: url("../images/space-bkg.jpg");
  background-position: right;
  background-size: cover;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-gap: 50px;
}

.gold-bkg {
  background: #f3d9b5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: end;
}

.center-column {
  grid-column: 2;
}

.other-trips {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  align-items: center;
}

.other-trips > div:nth-child(3) {
  grid-column: 3;
  grid-row: 2;
}

.other-trips > div:nth-child(4) {
  grid-column: 2;
  text-align: right;
}

header {
  display: flex;
  justify-content: Space-between;
  align-items: center;
}

.primary-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.primary-nav ul li {
  padding-left: 20px;
}

.primary-nav ul a {
  color: white;
  text-decoration: none;
}

.primary-nav ul a:hover,
.primary-nav ul a.active {
  color: #ffb859;
  transition: 0.5s;
}

.primary-nav ul a.active {
  border-bottom: 2px solid #ffb859;
}

model-viewer {
    width: 100%;
    height: 100vh;
  }

/* typography */
h3 {
  color: var(--Med-Blue, #2b315e);
  text-align: center;
  font-family: Josefin Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.button {
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 10px;
  display: inline-block;
  transition: 0.5s;
}

.button-gold {
  background: #ffb859;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.button-gold:hover {
  background: #f3d9b6;
  color: #000;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}

.button-blue {
  background-color: #595c7d;
}

.button-blue:hover {
  background-color: #101439;
}
